// npm install -g less  - установка
// lessc style.less > style.css - компиляция

// npm install -g less-watch-compiler
// less-watch-compiler . . style.less

// Родство или вложенность:
.container {
	>div {
		color: red;
	}
}

// Соединение селекторов
li {
	&.point{
		color: red;
	}
}

// Присоединение псевдокласса
li {
	color: red;
	&:hover {
		color: blue;
	}
}