// npm install -g sass /* Установка */
// sass --version /* Проверка верссии */
// sass style.scss style.css /* Компиляция */
// sass style.scss style.css -w /* Компиляция с наблюдением */

// Родство или вложенность
div {
	>p {
		color: green;
	}
}

// Соединение селекторов
p {
	&.pg {
		color: green;
	}
}

// Псевдоклассы:
.pg {
	&:hover {
		color: red;
	}
}

// Соединение частей селектора
.pg {
	color: blue;
	&-active {
		color: orange;
	}
}

// ПЕРЕМЕННЫЕ
// -------------------------------------------
$var1: red;
.pg {
	color: blue;
	&-active {
		color: $var1;
	}
}
// Глобальная переменная внутри селектора
label {
	$var1: red !global;
}
.pg {
	color: blue;
	&-active {
		color: $var1;
	}
}
// ===========================================

// Математические оппрации
.pg {
	color: blue;
	&-active {
		font-size: 50px - 10px;
	}
}