

.test { /* Неподвижный фон */
	background-image: url(/img/image-2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*  Медиа запросы*/
@media screen and (max-width: 800px){}
@media (min-width:320) and (max-width: 600px){}

/*select без стрелки*/
#booking-mod select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none !important;
}

/* input[tupe="number"] без стрелок*/
.booking_mod-tabs_item-input input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
.booking_mod-tabs_item-input input[type="number"]::-webkit-outer-spin-button,
.booking_mod-tabs_item-input input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

/*тень элемента*/
div { 
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


/*Обтекание и отмена обтекания*/
img {
	float: left;
	margin-right: 50px;
}
.clearfix {
	clear: both;
}

