* {/*	Для родителя*/
	justify-content: center; /* Выравнивание по главной оси */
	flex-direction: column-reverse; /* Направление оси */
	align-items: flex-start; /* Выравнивание по поперечной оси	*/

}

* { /*	Для потомков*/
	align-self: flex-end;
	order: -1;
	flex-basis: 50px; /* размер элемента вдоль главной оси */
	flex-grow: 1; /* Относительная жадность */
}