.parent { /* Разбивка на колонки */
	display: grid;
	grid-template-columns: 25vw 25vw;
	grid-template-columns: repeat(5, 1fr); /* повтор колонок указанное количество раз */
	grid-template-columns: repeat(5, auto); /* повтор колонок с автоподбором ширины */
	grid-template-columns: 500px repeat(5, auto); /* 1-я колонка фиксированная ширина, остальные с автоподбором */

	grid-template-rows: 50px 75px 100px 125px; /* строки по высоте */
	grid-template-rows: 50px 50px 50px auto; /* автоподбор высотыы строк */
	grid-template-rows: repeat(7, 50px); /* повтор колонок указанное количество раз */
	grid-template-rows: repeat(auto-fill, 50px); /* все строки одинаковой высоты */


}
