// npm install -g sass /* Установка */
// sass --version /* Проверка верссии */
// sass style.scss style.css /* Компиляция */
// sass style.scss style.css -w /* Компиляция с наблюдением */

// Родство или вложенность
div {
	>p {
		color: green;
	}
}

// Соединение селекторов
p {
	&.pg {
		color: green;
	}
}

// Псевдоклассы:
.pg {
	&:hover {
		color: red;
	}
}

// Соединение частей селектора
.pg {
	color: blue;
	&-active {
		color: orange;
	}
}

// ПЕРЕМЕННЫЕ
$var1: red;
.pg {
	color: blue;
	&-active {
		color: $var1;
	}
}
// Глобальная переменная внутри селектора
label {
	$var1: red !global;
}
.pg {
	color: blue;
	&-active {
		color: $var1;
	}
}
// ===========================================

// Математические оппрации
.pg {
	color: blue;
	&-active {
		font-size: 50px - 10px;
	}
}

// МИКСИНЫ
@mixin mix1 {
	color: blue;
}
.pg {
	@include mix1;
	font-weight: bold;
}

// Вызов миксина в корне
@mixin mix1 {
	p {
		color: blue;
	};
}
@include mix1;

// Миксин с параметрок
@mixin mix1 ($color) {
	color: $color;
}
.pg {
	@include mix1(red);
}

// Миксин с параметром по умолчанию
@mixin mix1 ($color: green) {
	color: $color;
}
.pg {
	@include mix1();
}

// Именованные параметры
@mixin mix1 ($color, $weight) {
	color: $color;
	font-weight: $weight;
}
.pg {
	@include mix1($weight: bold, $color: orange);
}

// Неопределенное количество параметров 

@mixin mix1 ($padding...) {
	border: 1px solid orange;
	padding: $padding;
}
.pg {
	@include mix1(50px 50px,);
}
.pg-active {
	@include mix1(50px 50px 0 0);
}

// Передача блока кода в миксин (хуита)
@mixin mix1 () {
	div {
		@content;
	}
}
@include mix1{
	p {
		color: blue;
	}
};

// =============================================


// ФУНКЦИИ
@function colorText() {
	@return red;
} 
.pg {
	color: colorText();
}

// функции с параметром
@function colorText($color) {
	@return $color;
} 
.pg {
	color: colorText(blue);
}

// Именованный параметр
@function heightCalc ($x, $y) {
	@return $x - $y;
} 
.block {
	height: heightCalc($y:500px, $x:800px);
	background: mediumspringgreen;
}

// ИМПОРТ ИЗ ФАЙЛА header.scss
@import "header";

// Импорт внутрь селектора
ul {
	color: blue;
	@import "header";
}

// МЕДИАЗАПРОСЫ
ul {
	display: flex;
	justify-content: space-around;
	@media screen and (max-width: 576px) {
		display: block;
	}
	@media screen and (min-width: 1200px) {
		color: red;
	}
}

// НАСЛЕДОВАНИЕ (расширение)
.parent1 {
	border: 1px solid blue;
}
.child2 {
	@extend .parent1;
}

// Множественное наследование
.parent1 {
	border: 1px solid blue;
}
.parent2 {
	background: orange;
}
.child1 {
	@extend .parent1;
	@extend .parent2;
}
// Множественное наследование
.parent1 {
	border: 1px solid blue;
}
.parent2 {
	background: orange;
}
.child1 {
	@extend .parent1, .parent2;
}

// Цепное наследование
.parent1 {
	border: 1px solid blue;
}
.parent2 {
	@extend .parent1;
	background: orange;
}
.child1 {
	@extend .parent2;
}

// Опциональное наследование (исключение ошибок)
.parent1 {
	border: 1px solid blue;
}
.parent2 {
	@extend .parent1;
	background: orange;
}
.child1 {
	@extend .parent2, .child2!optional;
}